node_modules/*
nbproject/*
typings/*
npm-debug.log
app/color-picker/.sass-cache/*
app/.sass-cache/
create-dist.bat
.sass-cache/*
src/**/*.js
src/**/*.js.map
src/**/*.css.map
*.js
*.js.map
*.css.map
.idea/
examples/node_modules/*
lib
!examples/systemjs.config.js